.row-12{
    display: flex;
    background-color: darkgray;
    padding: 20px;
}
#footer{
    padding: 10px;
    height:30vh;
    width:25vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}