<div class="row-12">
    <div class="column-2.4" id="footer">
        <h3>HELP & INFORMATION</h3>
        <p>Help <br>Track order <br>Delivery & returns <br>Sitemap
        </p>
     
    </div>
    <div class="column-2.4"  id="footer">
        <h3>ABOUT</h3>
        <p>About us <br>Carrers of ASOS <br>Corporate Responsibility <br>Investors site </p>
       
    </div>
    <div class="column-2.4"  id="footer">
        <h3>MORE FROM ASOS</h3>
        <p>Mobile and ASOS apps <br> ASOS Marketplace <br> Gift vouchers <br>Black Friday <br>ASOS Thrifts</p>
    </div>
    
    <div class="column-2.4"  id="footer">
        <h3>    SHOPPING FROM:</h3>
        <P>You're in </P> <h5>| CHANGE</h5>     
    </div>
</div>