<div class="row-12">
    <div class="items1">
        <div col="column-6" id="items-img" >
            <img src="/assets/img/fashion2.jpg" alt="img1"  >
        </div>    
        <h4>ASOS DESIGN:BEST BITS</h4>
        <p>Top picks</p>
        <button class="btn">SHOP THE BRAND</button>
    </div>
    <div class="items2">
        <div col="column-6" id="items-img">
            <img src="/assets/img/fashion.jpg" alt="img2">
            </div>
            <h4>POOLSIDE PICKS</h4>
            <p>We're in deep</p>
            <button class="btn">SHOP THE BRAND</button>
        
    </div>
</div>