h1{
    text-align: center;
    padding: 10px;
}
#img{
    padding: 20px;
}
.row-12{
    display: flex;
   
}
.columns-6{
    padding: 20px;
}
.details{
    padding-top: 20px;
    width: 100px;
}
#input{
    width: 300px;
    border: none;
}
hr{
    width: 200px;
}
button{
    background-color: aliceblue;
    font-size: 30px;
}
.contact{
    padding-top: 30px;
    padding-left: 150px;
}
#insta{
    padding: 30px;
    

}