<h1>CONTACT US</h1>
<div class="row-12">
  
    <div class="columns-6">
        <img src="/assets/img/about.jpg" alt="" id="img">
    </div>
    <div class="columns-6">
        <div class="details">
            <input type="text"  placeholder="Full Name" id="input"/>
            <hr >
        <br><br>
        <input type="text" placeholder="E-mail" id="input"/>
        <hr>
        <br><br>
        <input type="text" placeholder="Message" id="input"/>
        <hr>
        </div>
        <button type="submit">Contact Us</button>
    </div>
    <div class="contact">
        <h3>Contact</h3>
        <p>fristy@gmail.com</p>
        <br>
        <br>
        <br>
        <h3>Based in</h3>
        <p>Agra,UP-202001</p>
        <a href="www.google.com"><i class="fa-brands fa-facebook fa-beat-fade" style="color:black;"></i>
        </a> 
        <a href="www.google.com"><i class="fa-brands fa-instagram fa-fade" id="insta" style="color: black;"></i></a>
        <a href="www.google.com"><i class="fa-brands fa-twitter fa-beat" style="color:black;"></i></a>
        
    </div>
</div>