.nav-item{
	color: white;
	
}
#nav2{
    margin-left: 40px;
    margin-right: 40px;
    color:white;
    
   
}
#nav2 a{
    color:white;
}
#navbar1{
	color:white;

}
#navbar2{
	background-color: grey ;
    
}


.dropdown {
    display: inline-block;
    position:relative;
  }
  
  button{
    background-color: transparent;
    border:none;
    color:#ddd;
    /* border-top:1px solid black ;
    border-bottom:1px solid black ; */
    border-radius:0px;
    padding:10px 20px;
    font-size:15px;
    cursor:pointer;
  }
  
  button:hover{
    background-color:#18FFFF;
  }
  
  .dropdown-options {
    display: none;
    position:fixed;
    overflow: auto;
    background-color:gray;
    border-radius:5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  
  .dropdown:hover .dropdown-options {
    display:list-item;
  }
  
  .dropdown-options a {
    display: inline-block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    padding:20px 40px;
  }
  
  .dropdown-options a:hover {
    color: #0a0a23;
    background-color:#18FFFF;
    border-radius:5px;
  }
  