<nav class="navbar navbar-expand-lg " id="navbar2">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="nav2">
          <li class="nav-item" id="nav2">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li>
          <li class="nav-item" id="nav2">
            <ul>
              <!-- <a class="nav-link">CLOTHES</a> -->
              <div class="dropdown">
                <button>CLOTHES</button>
                <div class="dropdown-options">
                    <a routerLink="/shirts">Shirts</a>
                    <a routerLink="/t-shirts">T-Shirts</a>
                    <a routerLink="/sports">Sports</a>
                </div>
              </div>
          </ul>
  
          </li>
          <li class="nav-item" id="nav2">
            <!-- <a class="nav-link" href="#" routerLink="/items"  routerLinkActive="active" ariaCurrentWhenActive="page">ACCESSORIES</a> -->
            <div class="dropdown">
              <button>ACCESSORIES</button>
              <div class="dropdown-options">
                  <a routerLink="/shirts">Shirts</a>
                  <a routerLink="/t-shirts">T-Shirts</a>
                  <a routerLink="/sports">Sports</a>
              </div>
            </div>

          </li>
          <li class="nav-item" id="nav2">
            <!-- <a class="nav-link ">SHOES</a> -->

            <div class="dropdown">
              <button>SHOES</button>
              <div class="dropdown-options">
                  <a routerLink="/shirts">Shirts</a>
                  <a routerLink="/t-shirts">T-Shirts</a>
                  <a routerLink="/sports">Sports</a>
              </div>
            </div>
          </li>
          <li class="nav-item" id="nav2">
            <!-- <a class="nav-link ">SPORTSWEAR</a> -->

            <div class="dropdown">
              <button>SPORTS</button>
              <div class="dropdown-options">
                  <a routerLink="/shirts">Shirts</a>
                  <a routerLink="/t-shirts">T-Shirts</a>
                  <a routerLink="/sports">Sports</a>
              </div>
            </div>
          </li>
          <li class="nav-item" id="nav2">
            <!-- <a class="nav-link ">ELECTRONIC</a> -->

            <div class="dropdown">
              <button>ELECTRONIC</button>
              <div class="dropdown-options">
                  <a routerLink="/shirts">Shirts</a>
                  <a routerLink="/t-shirts">T-Shirts</a>
                  <a routerLink="/sports">Sports</a>
              </div>
            </div>
          </li>
          <li class="nav-item" id="nav2">
            <!-- <a class="nav-link " routerLink="/login"></a> -->
            <div class="dropdown">
              <button routerLink="/login">LOGIN</button>
              <!-- <div class="dropdown-options">
                  <a routerLink="/shirts">Shirts</a>
                  <a routerLink="/t-shirts">T-Shirts</a>
                  <a routerLink="/sports">Sports</a>
              </div> -->
            </div>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  