.nav-item{
	color: white;
	
}
#nav2{
    margin-left: 40px;
    margin-right: 40px;
    color:white;
    
   
}
#nav2 a{
    color:white;
}
#navbar1{
	color:white;

}
#navbar2{
	background-color: grey ;
    
}