
<h1 id="top-h">Men's T-shirts</h1>


<div class="box">

    <div class="boxes">
        <div class="row-12">
            <div class="column-2.4" id="first">
                <div class="dropdown">

                    <div class="dropdown">
                        <button>FILTER</button>
                        <div class="dropdown-options">
                            <a href="#">Dashboard</a>
                            <a href="#">Setting</a>
                            <a href="#">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column-2.4" id="second">

                <div class="dropdown">
                    <button>SORT</button>
                    <div class="dropdown-options">
                        <a href="#">Dashboard</a>
                        <a href="#">Setting</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </div>
            <div class="column-2.4" id="third">

                <div class="dropdown">
                    <button>SIZE</button>
                    <div class="dropdown-options">
                        <a href="#">Dashboard</a>
                        <a href="#">Setting</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </div>
            <div class="column-2.4" id="fourth">

                <div class="dropdown">
                    <button>BRAND</button>
                    <div class="dropdown-options">
                        <a href="#">Dashboard</a>
                        <a href="#">Setting</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </div>
            <div class="column-2.4" id="fifth">

                <div class="dropdown">
                    <button>DISCOUNT</button>
                    <div class="dropdown-options">
                        <a href="#">Dashboard</a>
                        <a href="#">Setting</a>
                        <a href="#">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- items -->

    <div class="items">
     <div class="prod-1" id="one">
        <a href="http://www.google.com"><img src="/assets/img/black.jpg" class="img-top" alt="1"></a>

        <a href="http://www.google.com">
            <p class="img-text">
                ASOS DESIGN oversized t-shirt in black with sun back print
                <br>
                <span id="price">£15.00</span>
            </p>
        </a>
     </div>

     <div class="prod-1" id="one">
        <a href="#"><img src="/assets/img/darkblue.jpg" class="img-top" alt="1"></a>

        <a href="http://www.google.com">
            <p class="img-text">
                ASOS DESIGN oversized t-shirt in black with sun back print
                <br>
                <span id="price">£15.00</span>
            </p>
        </a>
     </div>

     <div class="prod-1" id="one">
        <a href="http://www.google.com"><img src="/assets/img/green.jpg" class="img-top" alt="1"></a>

        <a href="http://www.google.com">
            <p class="img-text">
                ASOS DESIGN oversized t-shirt in black with sun back print
                <br>
                <span id="price">£15.00</span>
            </p>
        </a>
     </div>
     <div class="prod-1" id="one">
        <a href="http://www.google.com"><img src="/assets/img/green.jpg" class="img-top" alt="1"></a>

        <a href="http://www.google.com">
            <p class="img-text">
                ASOS DESIGN oversized t-shirt in black with sun back print
                <br>
                <span id="price">£15.00</span>
            </p>
        </a>
     </div>
     
    </div>