<div class="banner">
    <div class="banner-content">
      <h4 id="bann-h">Manifesting Summer <3</h4>
      <button class="btn-shop">SHOP NOW</button>
    </div>
    </div>
    <div class="row-12">
    <div class="column-3" >
        <img src="/assets/img/dress.jpg" alt="" class="one">
        <h4>TOPSHOP </h4>
        <p>SS23 continued....</p>
    </div>

    <div class="column-3" >
        <img src="/assets/img/Football-wear.jpg" alt="" class="one">
        <h4>FESTIVAL EXTRAS</h4>
        <p>I'm with the band NRG</p>
    </div>

    <div class="column-3" >
        <img src="/assets/img/furniture.jpg" alt="" class="one">
        <h4>SHORTS SZN</h4>
        <p>Much Knee-ded</p>
    </div>

    <div class="column-3" >
        <img src="/assets/img/shoes.jpg" alt="" class="one">
        <h4>THE ORDINARY</h4>
        <p>Ft. the exclusive cleanser!</p>
    </div>
    </div> 