<div class="block">
    <img src="https://content.asos-media.com/-/media/homepages/unisex/homepages/2023/feb/2023-spinner/web_spinner_gbl_215x40.gif" alt="gif" style="margin-top: 20px; margin-bottom: 20px;">
    <h3>UPTO +30% OFF OUTLET!
      <br>ALREADY UP TO 70% OFF <br> </h3><h5>Discount revealed at checkout</h5> <br><h5>With code: <button class="btn"> SURPRISE</button> </h5>
      <p style="padding-bottom: 40px;">Outlet items only. See Website banner for T&C. Seleted marked produts exluded from promo </p> 
    </div>
   