<h2>TRENDING  BRANDS</h2>
<div class="row-12">
    <div class="column-2.4" id="brand-img">
        <img src="/assets/img/s.logo.jpg" alt="" id="brand-img1">
    </div>
    <div class="column-2.4">
        <img src="/assets/img/levis-logo.jpg" alt="2" id="brand-img1">
    </div>
    <div class="column-2.4">
        <img src="/assets/img/Adidas-logo.jpg" alt="" id="brand-img1">
    </div>
    
    <div class="column-2.4">
        <img src="/assets/img/puma-logo.jpg" alt="" id="brand-img1">
       
    </div>
</div>